face_dataset_64x64.npy
fractal_dataset_64x64_rgb.npy

quality_fractal_dataset_64x64_rgb.npy

All_fractals.npy

fractal_images.npy
fractal_labels.npy

hopalong_images.npy
hopalong_labels.npy

inf_hop_vae_generated_1000.npy
inf_hop_gan_generated_1000.npy
fire_hop_vae_generated_1000.npy
fire_hop_gan_generated_1000.npy
vividis_hop_vae_generated_1000.npy
vividis_hop_gan_generated_1000.npy

inf_dream_vae_generated_1000.npy
inf_dream_gan_generated_1000.npy
fire_dream_vae_generated_1000.npy
fire_dream_gan_generated_1000.npy
vividis_dream_vae_generated_1000.npy
vividis_dream_gan_generated_1000.npy


all_vae_generated_1000.npy
all_gan_generated_1000.npy
hop_vae_generated_1000.npy
hop_gan_generated_1000.npy
dream_vae_generated_1000.npy
dream_gan_generated_1000.npy
de_jong_vae_generated_1000.npy
de_jong_gan_generated_1000.npy
clifford_vae_generated_1000.npy
clifford_gan_generated_1000.npy

dream_images.npy
dream_labels.npy