face_dataset_64x64.npy
fractal_dataset_64x64_rgb.npy
quality_fractal_batch_1.npy
quality_fractal_batch_2.npy
quality_fractal_batch_3.npy
quality_fractal_batch_4.npy
quality_fractal_batch_5.npy
quality_fractal_batch_6.npy
quality_fractal_batch_7.npy
quality_fractal_batch_8.npy
quality_fractal_batch_9.npy
quality_fractal_batch_10.npy
quality_fractal_batch_11.npy
quality_fractal_batch_12.npy
quality_fractal_batch_13.npy
quality_fractal_batch_14.npy
quality_fractal_batch_15.npy
quality_fractal_batch_16.npy
quality_fractal_batch_17.npy
quality_fractal_batch_18.npy
quality_fractal_batch_19.npy
quality_fractal_batch_20.npy
quality_fractal_dataset_64x64_rgb.npy

All_fractals.npy